.DS_Store
.idea
bower_components
node_modules
vendor
chef

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess